body {
  margin: 0;
  background-color: black;
}

.border {
  padding: 10px;
  border: 1px solid #e75551;
}

.border-blue {
  width: 350px;
  margin: 20px 20px 40px;
  background-color: #308dc0;
  box-sizing: border-box;
}

.border-yellow {
  background-color: #ffa500;
}

.block {
  margin: 0;
  background-color: #ddd;
}
